body, html{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
div:active, button:active, a{
    -webkit-tap-highlight-color: transparent;
}

:root{
    --cta: #FD6C0D;
    --light-cta: #FF9753;
    --gray: #9A9A9A;
    --light-gray: #F0F0F0;
    --cta-filter: invert(63%) sepia(35%) saturate(6839%) hue-rotate(349deg) brightness(95%) contrast(110%);
}

/* Navigation */

nav{
    height: 84px;
    width: 100%;
    background-color: white;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 50;
    box-shadow: 0px -10px 106px rgba(0, 0, 0, 0.1);
}

nav ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}
.nav-link{
    text-decoration: none;
    user-select: none;
}
.active-page{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 15px;
    color: var(--light-cta);
    background-color: #FFF0E7;
    padding: 10px 15px;
    border-radius: 50px;
}
.active-page img{
    filter: var(--cta-filter);
}


/* end of Navigation */

/* Search bar area */

header{
    width: 100%;
    height: 100px;
    padding: 45px 20px 0 20px;
    display: flex;
    justify-content: space-between;
}

#search-area{
    display: flex;
    width: 100%;
    gap: 15px;
}

#search-bar{
    display: flex;
    align-items: center;
    gap: 12px;
    border: 2px solid var(--light-gray);
    height: 40px;
    padding: 0 10px;
    border-radius: 15px;
    user-select: none;
    width: clamp(100px, 100%, 500px);
}

#search{
    background: none;
    border: none;
    color: var(--gray);
    font-size: 16px;
    flex: 1;
    
}
#search:focus-visible, #search:active{
    outline: none;
}

#filter{
    height: 40px;
    width: 40px;
    background-color: var(--cta);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}

/* End of Search bar area */


/* Sections */

.display-section{
    /* background-color: greenyellow; */
    width: 100%;
}

.section-name{
    font-size: 24px;
    margin-left: 22px;
}

.scroll{
    width: 100%;
    height: 46px;
    overflow-x: auto;
    padding: 0 22px;
    white-space: nowrap;
    scroll-behavior: smooth;
    margin-bottom: 25px;
}

.scroll::-webkit-scrollbar{
    display: none;
}

/* Todays picks section*/

.todays-picks-scroll-wrapper{
    display: inline-block;
    user-select: none;

}


.todays-picks-scroll-item{
    display: flex;
    background-color: white;
    gap: 9px;

    height: 35px;
    align-items: center;
    justify-content: space-around;
    padding: 7px 12px;
    border-radius: 50px;
    position: relative;
    margin-right: 18px;
    border: 1px solid var(--light-gray);
    transition: all 0.2s linear;
    cursor: pointer;
    user-select: none;

}
.todays-picks-scroll-item:hover{
    background-color: var(--light-gray);
}
.active:hover{
    background-color: var(--cta);
}

.todays-picks-scroll-item > *{
    user-select: none;
    pointer-events: none;
}

.todays-picks-scroll-item h2{
    font-size: 17px;
    color: var(--gray);
}

.icon-bg{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1/1;
    border-radius: 50%;
    height: 100%;
    padding: 2px;
}
.icon-bg img{
    width: 100%;
}

.active{
    background-color: var(--cta);
    border: 1px solid var(--cta);
}
.active h2{
    color: white;
}

.todays-picks-scroll-item::after{
    content: '';
    position: absolute;
    top: 45%;
    left: calc(50% - 44px -31px);
    width: calc(100% - 31px);
    height: 11px;
    background-image: url('images/drip.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: all 0.4s ease;
    z-index: -1;
}
.active::after{
    top: 100%;
    transition-delay: 0.1s;
}

/* recipe cards */ 

.cards-scroll{
    height: fit-content;
    margin-bottom: 30px;
}

.recipe-scroll-item{
    height: 359px;
    width: 279px;
    border-radius: 15px;
    border: none;
    padding: 0;
    overflow: hidden;
    position: relative;
    display: inline-block;
    margin-right: 21px;
}
.recipe-scroll-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}
.filter{
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
}
.card-info{
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 100%;
    padding: 7px 12px;
}
.card-info h1{
    color: white;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 0;
}
.card-info-detail{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 14px;
}
.card-info-detail h2{
    color: var(--light-gray);
    font-weight: 400;
    font-size: 16px;
    opacity: 0.65;
    margin: 0;
}
.card-info-detail img{
    width: 16px;
    height: 16px;
    position: relative;
    opacity: 0.65;
}
.card-info-detail .dot{
    opacity: 1;
}

.todays-picks-cards-scroll{
    display: none;
}
.todays-picks-cards-scroll.active-scroll{
    display: block;
}

/* End of Today's picks section */

/* Section to display recipies depending on time the time eg: morning = breakfast*/

.delicious-time h1 span{
    color: var(--cta);
}
.section-name-area h1, #see-all{
    margin: 0;
    margin-bottom: 30px;
}


.section-name-area{
    width: 100%;
    padding: 0 22px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#see-all{
    font-size: 15px;
    color: var(--light-cta);
    text-decoration: none;
    margin-top: 5px;
}

.delicious-time{
    margin-bottom: 100px;
}


@media (min-width: 1005px){
/* Header */
    nav{
        top: 0;
        box-shadow: none;
        position: relative;
        width: clamp(400px, 100%, 450px);
        display: flex;
        align-items: center;
    }
    nav ul{
        margin: 0;
        width: 100%;
    }

    header{
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding-top: 35px;
    }
    #search-area{
        max-width: 40%;
        min-width: 412px;
    }
    #filter{
        flex: none;
    }
/* End of header */

    body{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 10px;
    }
    
    .scroll{
        display: flex;
        justify-content: center;
        gap: 1vw;
    }
    .todays-picks-scroll-item{
        margin: 0;
    }

    .cards-scroll{
        display: flex;
        justify-content: space-between;
        width: clamp(1500px, 100%, 1632px);
        margin-bottom: 0;
    }
    .todays-picks-cards-scroll{
        display: none;
    }
    .todays-picks-cards-scroll.active-scroll{
        display: flex;
        align-items: center;
    }

    .recipe-scroll-item{
        margin: 0;
    }

    section{
        width: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .section-name-area{
        display: block;
        text-align: center;
        width: 100%;
        padding: 0 144px;
        position: relative;
        margin: 60px 0;
    }
    .section-name{
        margin-left: 0;
        font-size: 30px;
    }
    .section-name-area > div{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

    }
    .section-name-area > div > h1{
        margin: 0;
    }
    #see-all{
        margin: 0;
        float: right;
    }
    .section-name-area > *{
        display: inline;
    }

    @media (max-width: 1500px){
        .cards-scroll{
            width: 1015px;
            flex-wrap: wrap;
            justify-content: center;
            gap: 60px;
        }
    }
}

